body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.papers         { list-style: none; margin: 0; padding: 0; }
.papers li      { margin: 0.8em 1.2em; }
.papers li h2   { margin-left: -1em; }
.papers li span { font-weight:bold; }
.search         { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.search dl      { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.pagination ul li {
    padding-left: 1px;
    padding-right: 1px;
    display:inline-block;
}
.pagination ul li:hover {
    display:inline-block;
    background:#6aa6ed;
    font-color:white
}

.pagination ul li a:hover {
    display:inline-block;
    background:#6aa6ed;
    color:white
}
.choose_term li {
    padding-left: 5px;
    padding-right: 5px;
    display:inline-block;
}
.choose_term li:hover {
    display:inline-block;
    background:#6aa6ed;
    color:white
}
.choose_term li a:hover {
    display:inline-block;
    background:#6aa6ed;
    color:white
}
