{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('search') }}" method=post class=search>
      <dl>
        <dt>Disease/Trait:
        <dd><input type=text size=30 name=disease>
        <br>genes included<dd><input type=text size=30 name=genes_included>
        <br>genes excluded<dd><input type=text size=30 name=genes_excluded>
        <dd><input type=submit value=Search>
      </dl>
    </form>

    <form action="{{ url_for('choose_term') }}" method=post >  
      <table>
       {% for key, value in count_dict.iteritems() %}
         <tr>
            <a href='/choose_term?gene={{ key }}'>{{key}}:{{value}}</a>
         </tr>
       {% endfor %}
      </table>
    </form>

    {% if papers %}
    {{ pagination.info }}
    {{ pagination.links }}  
      <ul class=papers>
        {% for paper in papers %}
        <li><a href="{{ paper.link|safe}}"><h2>{{ paper.title }}</h2></a>
        <span>authors:</span>{{paper.authors_str|safe}}<br>
        <span>journal:</span>{{paper.journal_title|safe}}<br>
        <span>publish time:</span>{{paper.publish_time_str|safe}}<br>
        {% if paper.keywords_str %}
        <span>keywords:</span>{{ paper.keywords_str|safe }}<br>
        {% endif %}
        {% if paper.abstract %}
        <span>abstract:</span>{{ paper.abstract|safe }}
        {% else %}
        no abstract found on original page for this paper
        {% endif %}
      {% else %}
        <li><em>No Search Results</em>
      {% endfor %}
      </ul>
    {{ pagination.links }}
    {% else %}
    Welcome!
    {% endif %}
  {% endif %}
{% endblock %}
